.DS_Store
fisher
htop
nvim.bak
yarn
simple-update-notifier
coc
configstore
dotfiles-public
plugins
package.json
package-lock.json
filezilla/filezilla.xml

!nvim/
nvim/*
!nvim/lua/
nvim/lua/*
!nvim/lua/custom/
